#changePhotoArea{
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  /* height: 500px; */
  margin-bottom: 30px;
  border: 1px solid lightblue;
}

#changePhotoArea p{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#changePhotoArea input{
  padding: 10px;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  border-radius: 1rem;
  width: 100%;
}

.profileImg{
  margin-bottom: 20px;
}

.profileImg *{
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center;
}