
#loginArea{
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid lightblue;
  margin-bottom: 50px;
  padding: 20px;
}

#loginArea img{
  scale : 1.0;
  transition: all .3s;
}

#loginArea img:hover{
  scale : 1.2;
}

.title{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  
}

.emailInput>input,
.pwInput>input{
  padding: 10px;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  border-radius: 1rem;
  width: 100%;
}

.signUp{
  color: blue;
}

.signUp:hover{
  text-decoration: underline;
}