#profileArea{
  max-width: 500px;
  border: 1px solid lightblue;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 20px;
}

.settings,
.history{
  margin-top: 20px;
}

.settings p,
.history p{
  font-size: 1rem;
  font-weight: bold;
}

.settings ul,
.settings ul li,
.history ul,
.history ul li{
  margin: 0 auto;
}

.myInfo{
  margin-bottom: 20px;
}