.signupArea{
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid green;
}

.title{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  
}
.profileImg{
  margin-bottom: 20px;
}

.profileImg *{
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center;
}

.signupArea select{
  display: block;
  padding: 10px;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  border-radius: 1rem;
  width: 100%;
}


.signupArea input{
  padding: 10px;
  border: 1px solid lightblue;
  margin-bottom: 10px;
  border-radius: 1rem;
  width: 100%;
}

.signupArea .emailNew{
  width: 80%;
  float: left;
}

#check{
  width: 20%;
  float: left;
}

.avatar{
  border: 1px solid red;
}

#profile{
  position: relative;
}

.profileInput{
  position: absolute;
}

.profileInput img{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 1px solid gray;
}